.banner {
  background-image: url("../../images/cover-image-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner > h1 {
 
  color:#F7FD04;
  font: 600 6.5vmax "Roboto";
}

.banner > p {
  font: 300 2vmax "Lucida Sans";
 color:#F7FD04;
  margin:1vmax;
  margin-bottom:3vmax;
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 100%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgb(252, 84, 4);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(249, 132, 4);
}

.container {
  display: flex;
  margin: 4vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;

}
.container__btn{
  color:rgb(252, 84, 4);
}

.productCard {
  width: 20vmax;
  background-color:#f6fa89;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: rgb(252, 84, 4);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 90%;
  margin:auto;
  margin-top:.5vmax;
  border:3px solid #FC5404;
  border-radius:15px;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 1vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: rgb(252, 84, 4);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgb(252, 84, 4);
  transform: translateY(-1vmax);
}
.aboutUs{
    background-color: #ffffff;
  text-align: center;
   
}
.aboutUs>*{
  margin: 0 auto;
  width: 80vw;
  margin-bottom: 0;
  padding-bottom:2vmax;
  color:rgb(252, 84, 4);
}
.aboutUsHeading{
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgb(249, 132, 4);
  padding:1vmax;
  margin-bottom:2vmax;
  width:max-content;
  color: rgb(249, 132, 4);
}
.aboutUsPara{
  font-family: Roboto;
  font-size: 1vmax;
}
@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
